<main class="container">
  <nav class="navbar navbar-expand-lg navbar-light py-6">
    <a class="navbar-brand m-0 p-0" href="#">Assignment</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        <span class="material-symbols-outlined navbar-text p-0 me-4">
          <a href="">
            search
          </a>
        </span>
        <span class="material-symbols-outlined navbar-text p-0">
          <a href="">
            notifications_active
          </a>
        </span>

      </div>
    </div>

  </nav>
  <div class="d-flex justify-content-between">
    <div class="dropdown">
      <button class="btn dropdown-toggle ps-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        All (4)
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <p>2 comments</p>
  </div>
  <div class="row">
    <div class="col-4 p-0">
      <ul class="list-group">
        <li class="list-group-item p-3">
          <div class="d-flex justify-content-between mb-1">
            <p class="fs-7 m-0">Chapter Assignment 2</p>
            <p class="fs-7 m-0">4 hrs ago</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fw-bold m-0">Please check this file…</p>
            <p class="fs-7 m-0">Emily Wang</p>
          </div>
        </li>
        <li class="list-group-item p-3">
          <div class="d-flex justify-content-between mb-1">
            <p class="fs-7 m-0">Chapter Assignment 1</p>
            <p class="fs-7 m-0">12 hrs ago</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fw-bold m-0">My Homework</p>
            <p class="fs-7 m-0">David Xu</p>
          </div>
        </li>
        <li class="list-group-item p-3">
          <div class="d-flex justify-content-between mb-1">
            <p class="fs-7 m-0">Final Assignment</p>
            <p class="fs-7 m-0">18 hrs ago</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fw-bold m-0">Have a problem with this…</p>
            <p class="fs-7 m-0">Tony Wei</p>
          </div>
        </li>
        <li class="list-group-item p-3">
          <div class="d-flex justify-content-between mb-1">
            <p class="fs-7 m-0">Final Assignment</p>
            <p class="fs-7 m-0">19 hrs ago</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="fw-bold m-0">Did I do it right?</p>
            <p class="fs-7 m-0">Christina Lin</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-8 ps-4">
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div>
            <p class="fs-7 mb-1">Chapter Assignment 2 / HTML&CSS</p>
            <p class="fw-bold m-0">Please check this file for me, thanks!</p>
          </div>
          <span class="material-symbols-outlined">
            more_vert
          </span>
        </div>
        <div class="card-body">
          <div class="d-flex mb-4 pe-4">
            <div class="flex-shrink-0">
              <img class="small-person rounded-circle" src="../assets/images/emilywang.jpeg" alt="...">
            </div>
            <div class="flex-grow-1 border-bottom ms-3 fs-14">
              <div class="mb-4">
                <p class="mb-1 fw-bold">Chapter Assignment 2 / HTML&CSS</p>
                <p class="fs-7 m-0">Please check this file for me, thanks!</p>
              </div>
              <p class="mb-4">
                Hi Teacher, the attached file is my homework of chapter 2.
                And here comes a question: Why in the following code the
                height of the
                <code class="text-success bg-light px-1 rounded-1 font-mono">div</code>
                is bigger than the height of the
                <code class="text-success bg-light px-1 rounded-1 font-mono">img</code>
                ?
                There is a gap below the image, but it doesn’t seems
                to be a padding/margin. </br>
                What is the gap or extra space below image?
              </p>
              <a href="#" class="btn btn-light border mb-4" download="HW-2-David.zip">
                HW-2-David.zip</a>
            </div>
          </div>
          <div class="d-flex pe-4">
            <div class="flex-shrink-0">
              <img class="small-person rounded-circle" src="../assets/images/andychen.jpeg" alt="...">
            </div>
            <div class="flex-grow-1 border-bottom ms-3 fs-14">
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div>
                  <p class="mb-1 fw-bold">Andy Chen (You)</p>
                  <p class="fs-7 m-0">13:24 AM (1 hours ago)</p>
                </div>
                <div>
                  <span class="material-symbols-outlined me-5">
                    star_rate
                  </span>
                  <span class="material-symbols-outlined">
                    edit
                  </span>
                </div>
              </div>
              <div class="mb-4">
                <p>
                  Hi David, by default, an image is rendered inline,
                  like a letter so it sits on the same line that a, b, c and d sit on.
                  There is space below that line for the descenders you find on letters like g, j,
                  p and q.
                </p>
                <p>
                  You can:
                </p>
                <ul>
                  <li>adjust the
                    <code class="text-success bg-light px-1 rounded-1 font-mono">vertical-align </code>
                    of the image to
                    position it elsewhere (e.g. the
                    <code class="text-success bg-light px-1 rounded-1 font-mono">middle</code>
                    ) or
                  </li>
                  <li>
                    change the
                    <code class="text-success bg-light px-1 rounded-1 font-mono">display</code>
                    so it isn’t inline.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined me-5">
            chevron_left
          </span>
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </div>
        <div>
          <div class="btn btn-outline-success px-6 py-2 me-4">Mark as read</div>
          <div class="btn btn-success px-6 py-2">Reply</div>
        </div>
      </div>
    </div>
  </div>
</main>