<ul class="nav flex-column bg-light p-6">
  <li class="nav-item d-flex align-items-center mb-3">
    <a class="nav-link px-0" aria-current="page" href="#">
      <img src="../assets/images/logo-ANSWER.svg" alt="">
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        quiz
      </span>
      <p class="m-0">Question</p>
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        assignment
      </span>
      <p class="m-0">Assignment</p>
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        video_library
      </span>
      <p class="m-0">Course</p>
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        analytics
      </span>
      <p class="m-0">Dashboard</p>
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        supervisor_account
      </span>
      <p class="m-0">Admin</p>
    </a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link text-dark link-success d-flex align-items-center px-0" href="#">
      <span class="material-symbols-outlined me-3">
        settings
      </span>
      <p class="m-0">Settings</p>
    </a>
  </li>
  <div class="d-flex mt-auto">
    <div class="flex-shrink-0">
      <img class="small-person rounded-circle" src="../assets/images/andychen.jpeg" alt="...">
    </div>
    <div class="flex-grow-1 ms-4 fs-14">
      <div class="mb-4">
        <p class="mb-1 fw-bold">Andy Chen</p>
        <p class="fs-7 m-0">andy0401@mail.com</p>
      </div>
    </div>
  </div>
</ul>