<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <style>
      .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }
      </style>
  </head>
  <body>
    <div class="container d-flex justify-content-between">
      <%- include('./layout/nav'); -%>
      
      <%- include('./layout/assignment'); -%>

    </div>

    <script type="module" src="../main.js"></script>
    <script >
      const classificationLi = document.querySelectorAll(".nav-item");
  // 为每个 li 元素添加点击事件监听
  classificationLi.forEach((li) => {
    li.addEventListener("click", (e) => {
      console.log(123);
      e.preventDefault();
      // 移除所有 li 元素的 clicked 类
      classificationLi.forEach((li) => li.classList.remove("active"));
      // 给当前被点击的 li 元素添加 clicked 类
      li.classList.add("active");
    });
  });
    </script>

  </body>
</html>
